This file is part of the repository template for
data analyses of benchexec-based evaluations:
https://gitlab.com/lemberger/data_repo_template

{% for copyright_line in copyright_lines %}
{{ copyright_line }}
{% endfor %}

{% for expression in spdx_expressions %}
SPDX-License-Identifier: {{ expression }}
{% endfor %}

